html {
  font-family: "ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic","MS Gothic","ＭＳ ゴシック","Helvetica Neue",-apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: "pkna";
  font-feature-settings: "pkna";
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  margin: 0;
  background-color: #f9f9f9;
  color: #1c1c1c;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: #f5f5f5;
}

* {
  box-sizing: border-box;
}

dd, dl, dt, h1, h2, h3, h4, h5, h6, li, ol, p, ul {
  margin: 0;
  padding: 0;
  font-size: inherit;
  line-height: inherit;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

thead, tbody, tfoot, tr, td, th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

.padding-left-40 {
  padding-left: 40px;
}

.danger {
  color: red;
}

.yellow-border {
  color: #000000;
  background-color: #ffff00;
  font-weight: bold;
}

.careful {
  opacity: 0.6;
  font-size: 12px;
}

.content-head {
  background-color: #fff;
  padding: 20px;
}

.content-head img {
  width: 100%;
}

.content-body {
  background-color: #fff;
  padding: 10px 20px;
  word-wrap: break-word;
}

.content-main p {
  margin: 20px 0;
  line-height: 28px;
}

.content-body h2 {
  color: #fff;
  font-size: 23px;
  position: relative;
  padding: 0.5em;
  margin: 30px 0 45px;
  background-color: #10bdc2;
}

.content-body h3 {
  font-size: 1.2em;
  font-weight: bold;
  border-left: solid 4px #baac71;
  padding-left: 0.42em;
  margin: 1em 0;
  line-height: 1.25;
}


.check-point {
  padding: 25px 30px;
  border: 1px solid #10bdc2;
  border-radius: 8px;
  margin: 20px 0;
  position: relative;
}

.check-point:before {
  content: "Look Point";
  text-transform: capitalize;
  font-size: 16px;
  line-height: 21px;
  color: #10bdc2;
  font-weight: 700;
  position: absolute;
  top: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #fff;
  width: 150px;
  text-align: center;
}

.account-point {
  @extend .check-point;  
}

.account-point:before {
  content: "口座開設リンク";
  text-transform: capitalize;
  font-size: 16px;
  line-height: 21px;
  color: #10bdc2;
  font-weight: 700;
  position: absolute;
  top: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #fff;
  width: 150px;
  text-align: center;
}

.account-link-img {
  animation: vibrations 2s linear infinite;
  margin-left: 5%;
}

.account-link{
  animation: vibrations 2s linear infinite;
  background: #00A0E9;
  border-radius: 10px;
  box-sizing: border-box;
  color: #fff;
  display: block;
  line-height: 1;
  padding: 15px 30px 15px 15px;
  text-align: center;
  width: 68%;
  margin: auto;
  font-weight: bold;
  transition: 0.3s;
}

.account-link:hover {
  background: #9FD9F6;
  color: #f8f8ff;
}

.appeal-img {
  animation: vibrations 2s linear infinite;
  transition: 0.3s;
  text-align: center;
}


@media (max-width: 767px) {
  html {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-overflow-scrolling: touch;
  }

  .account-link-img {
    margin-left: 0;
  }
}

@media (max-width: 560px) {

  .content-head img {
    height: auto;
  }
}

@media (min-width: 768px) {
  .content {
    max-width: 624px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 624px;
    flex: 0 0 624px;
    margin: 0 16px 40px 0;
  }

  .content-body h2 {
    margin: 20px 0 30px;
  }
}

@keyframes vibrations{0%{-webkit-transform:translate(0);transform:translate(0)}1%{-webkit-transform:translate(4px);transform:translate(4px)}2%{-webkit-transform:translate(0);transform:translate(0)}3%{-webkit-transform:translate(-4px);transform:translate(-4px)}4%{-webkit-transform:translate(0);transform:translate(0)}5%{-webkit-transform:translate(4px);transform:translate(4px)}6%{-webkit-transform:translate(0);transform:translate(0)}7%{-webkit-transform:translate(-4px);transform:translate(-4px)}8%{-webkit-transform:translate(0);transform:translate(0)}9%{-webkit-transform:translate(4px);transform:translate(4px)}10%{-webkit-transform:translate(0);transform:translate(0)}11%{-webkit-transform:translate(-4px);transform:translate(-4px)}12%{-webkit-transform:translate(0);transform:translate(0)}100%{-webkit-transform:translate(0);transform:translate(0)}}
