html {
  font-family: "ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic","MS Gothic","ＭＳ ゴシック","Helvetica Neue",-apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: "pkna";
  font-feature-settings: "pkna";
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  margin: 0;
  background-color: #f9f9f9;
  color: #1c1c1c;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: #f5f5f5;
}

* {
  box-sizing: border-box;
}

dd, dl, dt, h1, h2, h3, h4, h5, h6, li, ol, p, ul {
  margin: 0;
  padding: 0;
  font-size: inherit;
  line-height: inherit;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

thead, tbody, tfoot, tr, td, th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

.padding-left-40 {
  padding-left: 40px;
}

@media (max-width: 767px) {
  html {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-overflow-scrolling: touch;
  }
}
