.container {
  min-height: 90vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contents {
  height: 100%;
}

.caution {
  font-size: 12px;
  color: burlywood;
  margin: 8px;
}

.display_flex {
  display: flex;
}

@media screen and (max-width: 959px) {

  .list {
    width: 80%;
    min-width: 360px;
    font-weight: normal;
  }

  .display_flex {
    display: block;
  }
}

@media screen and (max-width: 680px) {
  .main {
    flex: 0;
    margin: auto;
  }
}

@media screen and (max-width: 480px) {
  .list {
    padding: 0;
  }

  .caution {
    font-size: 10px;
    margin: 0;
    text-align: center;
  }
}
