
.content_head {
  background-color: #fff;
  padding: 20px;
}

.content_head img {
  width: 100%;
}

.content_body {
  background-color: #fff;
  padding: 10px 20px;
  word-wrap: break-word;
}

.content_main p {
  margin: 20px 0;
  line-height: 28px;
}

.content_body h2 {
  color: #fff;
  font-size: 23px;
  position: relative;
  padding: 0.5em;
  margin: 30px 0 45px;
  background-color: #10bdc2;
}

.content_body h3 {
  font-size: 1.2em;
  font-weight: bold;
  border-left: solid 4px #baac71;
  padding-left: 0.42em;
  margin: 1em 0;
  line-height: 1.25;
}

.table_block table {
  border-collapse: collapse;
  border-color: currentColor;
  caption-side: bottom;
  text-indent: 0;
  font-size: 1rem;
  border: solid 1px #647190;
  line-height: 1.6;
  text-align: left;
  width: 100%;
  table-layout: fixed;
}

.table_block table th {
  background: #19284d;
  color: #fff;
  font-weight: 300;
  text-align: center;
  max-width: 104px;
}

.table_block img {
  display: block;
  margin: auto;
}

.table_block table th, .table_block table td {
  padding: 10px;
  vertical-align: middle;
  border: solid 1px #647190;;
}

.table_block table td {
  width: 100%;
}

.account_link{
  animation: vibrations 2s linear infinite;
  background: #00A0E9;
  border-radius: 10px;
  box-sizing: border-box;
  color: #fff;
  display: block;
  line-height: 1;
  padding: 15px 30px 15px 15px;
  text-align: center;
  width: 68%;
  margin: auto;
  font-weight: bold;
  transition: 0.3s;
}

.account_link:hover {
  background: #9FD9F6;
  color: #f8f8ff;
}

.appeal_img {
  animation: vibrations 2s linear infinite;
  transition: 0.3s;
  text-align: center;
}

.check_point {
  padding: 25px 30px;
  border: 1px solid #10bdc2;
  border-radius: 8px;
  margin: 20px 0;
  position: relative;
  margin: 48px 0 48px;
}

.check_point:before {
  content: "Look Point";
  text-transform: capitalize;
  font-size: 16px;
  line-height: 21px;
  color: #10bdc2;
  font-weight: 700;
  position: absolute;
  top: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #fff;
  width: 150px;
  text-align: center;
}

.appeal {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  color: red;
  margin: 1em 0 0 0 !important;
  padding: 0;
}

.appeal_ul {
  list-style: none;
  font-size: 12px;
  padding: 8px;
}

@media (max-width: 800px) {

  .table_block table td {
    width: 70%;
  }
}

@media (max-width: 580px) {
  .content_head img {
    height: auto;
  }
}

@media (max-width: 480px) {

  .bg_logo img {
    max-width: 380px;
  }
}

@media (min-width: 768px) {
  .content {
    max-width: 624px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 624px;
    flex: 0 0 624px;
    margin: 0 16px 40px 0;
  }

  .content_body h2 {
    margin: 20px 0 30px;
  }

  .table_block table {
    border: none;
    display: block;
    overflow-x: scroll;
    white-space: nowrap;
  }
}

@keyframes vibrations{0%{-webkit-transform:translate(0);transform:translate(0)}1%{-webkit-transform:translate(4px);transform:translate(4px)}2%{-webkit-transform:translate(0);transform:translate(0)}3%{-webkit-transform:translate(-4px);transform:translate(-4px)}4%{-webkit-transform:translate(0);transform:translate(0)}5%{-webkit-transform:translate(4px);transform:translate(4px)}6%{-webkit-transform:translate(0);transform:translate(0)}7%{-webkit-transform:translate(-4px);transform:translate(-4px)}8%{-webkit-transform:translate(0);transform:translate(0)}9%{-webkit-transform:translate(4px);transform:translate(4px)}10%{-webkit-transform:translate(0);transform:translate(0)}11%{-webkit-transform:translate(-4px);transform:translate(-4px)}12%{-webkit-transform:translate(0);transform:translate(0)}100%{-webkit-transform:translate(0);transform:translate(0)}}
