.container {
  background-color: #fff;
  padding: 50px 0;
  font-weight: 700;
  margin-top: auto;
}

.footer {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.footer_logo {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: 269px;
  flex-basis: 269px;
  width: 269px;
  padding: 13px 30px 0 10px;
  text-align: center;
}

.footer_logo img {
  width: 80%;
  height: auto;
  max-width: none;
}

.footer_desc {
  font-size: 12px;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
  margin: 35px 0;
}

.footer_sitemap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: calc(100% - 269px);
  border-left: 1px solid #ddd;
  padding: 13px 0 0;
}

.sitemap_primary {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: center;
  width: 100%;
  padding: 0 0 0 24px;
}

.sitemap_list {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  padding: 0 16px 32px 0;
}

.sitemap_list_label {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
  margin: 0 0 15px;
  min-height: 3em;
  margin-bottom: 4px;
}

.sitemap_list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sitemap_list ul li {
  margin: 4px 0;
}

.sitemap_list a {
  color: #666;
  font-size: 14px;
  text-decoration: none;
}

@media (max-width: 767px) {
  .container {
    padding: 9.33333vw 0 7.2vw;
  }

  .footer {
    display: block;
  }

  .footer_logo {
    width: auto;
    padding: 0;
    margin-bottom: 7.2vw;
  }

  .footer_logo img {
    width: auto;
    height: 72px;
    margin: 0 auto;
  }

  .footer_desc {
    font-size: 2.66667vw;
    line-height: 1.4;
    text-align: center;
  }

  .footer_sitemap {
    border-left: none;
    display: contents;
  }

  .sitemap_list {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    padding: 0 5px 32px;
    margin-top: 6px;
  }

  .sitemap_list_label {
    min-height: 0;
    margin-bottom: 16px;
  }
}

@media (min-width: 1200px) {
  .footer {
    max-width: 1170px;
  }
}

@media (max-width: 480px) {
  .footer_sitemap {
    display: contents;
  }
}
