.content {
  background-color: #fff;
  padding: 20px;
}

.content img {
  max-width: 83%;
  margin: auto;
  display: block;
}

.content_head {
  background-color: #fff;
  padding: 20px;
}

.content_body {
  background-color: #fff;
  padding: 10px 20px;
  word-wrap: break-word;
}

.title_box {
  text-align: center;
  padding: 60px 25px 25px;
  margin-bottom: 20px;
  position: relative;
}

.wrap_title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrap_title:before, .wrap_title:after {
  border-top: 1px solid;
  content: "";
  width: 40%;
  display: inline-block;
}

.wrap_title h1 {
  text-align: center;
  padding: 0 12px !important;
  color: #333;
  display: inline-block;
  position: relative;
  margin-bottom: 0;
  z-index: 2;
}

.articles {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}


@media (min-width: 768px) {
  .content {
    -webkit-box-flex: 0;
    flex: 0 0 624px;
    margin: 0 16px 40px 0;
  }
}

@media (max-width: 600px) {
  .wrap_title:before, .wrap_title:after {
    width: 30%;
  }
}

@media screen and (max-width: 1040px) {
  .grid_box {
    margin-top: 20px;
    padding: 0;
  }
}
