.content {
  background-color: #fff;
  padding: 20px;
}

.container {
  padding: 4px 40px;
  width: 100%;
  margin-bottom: 20%;
}
  
.container h1, .container h2, .container h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.container p {
  margin: 10px 0 10px;
  font-size: 14px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
